{%extends 'base.html'%}

{%block title %}
Adding car
{%endblock%}



{%block main_body%} 
<div class="container">
    <a class="fcc-btn" href="/add_car/{{session.uid}}">Add a car</a>
</div>

{%if context%} 
{% if context.0.user_cars%}
{% for el in context.0.user_cars%} 



{%if session.uid==1%}


        <div class="single-services">
        <div class="container">
      <div class="row">
        <div class="col-md-8">
          <section class='tabs-content'>
            <article id='tabs-1'>
              <img src="{{url_for('static',filename='assets/images/1.jpg')}}" alt="">
              <h4><a href="blog-details.html">BMW {{el.car_model}}</a></h4>
              <div style="margin-bottom:10px;">
                <span>{{session.username}} &nbsp;|&nbsp; Year:{{el.year}} |&nbsp; Mileage:{{el.mileage}} |&nbsp; Phone:<a href="tel:{{session.phone}}">{{session.phone}}</a></span>
                <h4 style=color:red;">Price:{{el.price }}</h4>

              </div>
              <p>{{el.description}}</p>
              <br>
              
            </article>

            <br>
            <br>
            <br>

           

       
      </div>
    </div>
    
  </div>
  
</div>
{%else%}

<div class="single-services">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <section class='tabs-content'>
            <article id='tabs-1'>
              <img src="{{url_for('static',filename='assets/images/2.jpg')}}" alt="">
              <h4><a href="blog-details.html">BMW {{el.car_model}}</a></h4>
              <div style="margin-bottom:10px;">
                <span>{{session.username}} &nbsp;|&nbsp; Year:{{el.year}} |&nbsp; Mileage:{{el.mileage}}</span>
                <h4 style=color:red;">Price:{{el.price }}</h4>
                <p>{{el.description}}</p>

              </div>
              <br>
             
            </article>

            <br>
            <br>
            <br>

           

       
      </div>
    </div>
    
  </div>
  
</div>
        </div>

    </div>
</div>
        {%endif%}


  {%endfor%}
  {%endif%}
  {%endif%}
{%endblock%}