{%extends 'base.html'%} 

{%block title %} 
user page
{%endblock%}

{%block main_body%} 
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  {%if category=='success'%} 
      <div class="alert alert-success mb-3" role="alert">
          {{message}}
      </div> 
      <a class="close" href="/my_profile/{{session.uid}}">×</a>
  {% endif %}
  

  {%if category=='error'%} 
  <div class="alert alert-danger mb-3" role="alert">
    {{message}}
</div> 
<a class="close" href="/my_profile/{{session.uid}}">×</a>
{% endif %}

{%endfor%}
{%endif%}
{% endwith %}
<div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <h1 class="text-center title" style="font-size: 80px;" id="portfolio"><em>{{session.username | capitalize}}</em></h1>
            <h5 class="lead text-center">
                {{session.uid}} user
  
            </h5>
            </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-title">
                    <p>{{session.username}} <br>
                    {{session.mail}}</p>
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">
                  <a class="count-title" href="/delete">Delete account</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit"></div>
                <div class="count-title">user</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">

                <div class="count-digit">
                    <a class="count-title" href="/update">Update account</a>
                  </div>
  
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}